# =========================
# Systemowe i IDE
# =========================
.idea/
.vscode/
.DS_Store
Thumbs.db

# =========================
# Node.js (Główny projekt)
# =========================
node_modules/
npm-debug.log*
*.log
.env
.env.local
jsconfig.json

# =========================
# Dane bota (BARDZO WAŻNE)
# =========================
# Ignorujemy bazę danych i logi, żeby nie nadpisywać ich na GitHubie
data/warning.json
logs/

# =========================
# Frontend (Folder /web)
# =========================
web/node_modules/
web/dist/
web/.env
web/.env.local

# =========================
# Inne
# =========================
.cache/
.tmp/
package-lock.json
